asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.11
django-allauth==0.41.0
django-filter==2.2.0
djangorestframework==3.11.0
gunicorn==20.0.4
idna==2.9
oauthlib==3.1.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
pyzipcode3==2.2
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8



Hello Asdff
Thank you for choosing Cinch Home Services. Your warranty number is fgfgfgfgfg. Coverage will begin in 18, Apr 2020. [CHECKBOX: Y/Your online account has been registered and your email is the user name. Your temporary password is Welcome123. You can go to https://my.cinchhomeservices.com/home, to place claims and change billing information.] Our Customer Service number in 1-800-474-4047 and you may also place claims online at: placemyclaim.com. Please allow 7-10 business days for your welcome kit to arrive in the mail.
Feel free to reach out to me if you need to make any changes or have any questions./n[CHECKBOX: Y/As a reminder, we do also offer Surge Protection and Electronics Protection.]
Have a great day!
