.dataTables_processing {

    -moz-box-shadow: 0px 1px 50px 50px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 0px 1px 100px 50px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 100px 50px rgba(0, 0, 0, 0.20);
    height: 70px;

    font-size: 20px;
    font-weight: bold;

    display: block;
    z-index: 10000 !important;
    top: 90px !important;
    justify-content: center;

}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

.toggle.android {
    border-radius: 0px;
}

.toggle.android .toggle-handle {
    border-radius: 0px;
}
